
# Autotools helper files 
autom4te.cache
autoscan.log
autoscan-*.log
stamp-h1

# Build artifacts
*.o
*.so
*.a
*.out
*.exe
*.log

# Debian packaging artifacts
*.deb
*.changes
*.build
*.dsc
*.tar.*
*.orig
*.udeb
*.debian.tar.*

# Editor / IDE files
*~
*.swp
*.bak
.idea/
.vscode/

